In [1]:
from IPython.display import display, HTML
display(HTML("<style>div.container { width:100% !important; }</style>"))

In [2]:
import tensorflow as tf

In [3]:
tf.__version__

'2.10.0'

In [4]:
import pandas as pd
df = pd.read_csv("train.csv")

# pixel 의 수는 28(세로) * 28(가로) = 784개의 pixel
#label 이라는 column이 있는데 이 값이 바로 target(label) = y

#이 데이터를  학습해서 multinominal을 수행
#학습데이터(train)와 테스트 데이터(test)를 나누어서 평가를 진행
#우리가 평가한 모델으 정확도를 측정

#

In [5]:
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df.tail()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.shape

(60000, 785)

In [8]:
import numpy as np
import tensorflow as tf                            #tensorflow 기본 import
from tensorflow.keras.models import Sequential     #model box 구성
from tensorflow.keras.layers import Flatten, Dense #model 안의 input layer 와
                                                   # output layer를 구성
from tensorflow.keras.optimizers import SGD        # 알고리즘 담당
from sklearn.model_selection import train_test_split  #train data test date 분리
from sklearn.preprocessing import minmax_scale     #데이터 정규화
                                                   # 컴퓨터가 큰 숫자를 작은 숫자로
                                                   # 0~1 사이 실수 값을 값으로 변경                                           #

In [9]:
# TRAIN DATA와 TEST DATA( )분리해야해요
# PIXEL DATA(X)와 LABEL data(y)를 분리해야 해요
# 독립변수와 종속변수를 분리 해야해요
X_data = df.drop('label',axis=1 ,inplace=False)
y_data = df['label']

In [10]:
X_data.shape

(60000, 784)

In [11]:
# pixel data(X_data ) 를 정규화 (0~1 사이의 실수값으로 변화)

from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()
scaler.fit(X_data)            #scaler 학습시키고 - min.max
norm_x_data = scaler.transform(X_data) # scaler 를 통해서 실제로 값을 변환(0~1 변경)

In [12]:
# 데이터를 분리(train Data 와 test Data 로 분리)
# 분리 비율은 일반적으로 8:2 또는 7:3 정도로 분리해요(korea style,america style = 7.5 : 2.5(3:1))
#현재 우리의 X_data = norm_X_data 
#현재 우리의 y_data = y_data

from matplotlib import test


train_norm_x_data, test_norm_x_data,train_y_data,test_y_data =\
    train_test_split(norm_x_data,y_data,test_size=0.3) #7.3으로 분리

In [13]:
train_norm_x_data.shape

(42000, 784)