In [1]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('titanic.csv')
target = data['Survived']

In [3]:
data = data.drop(labels=['Name','Survived','Ticket','Embarked'],axis=1)
data['Sex'] = data['Sex'].map({'male':0,
                               'female':1})
data

     Pclass  Sex   Age  SibSp  Parch
0         3    0  22.0      1      0
1         1    1  38.0      1      0
2         3    1  26.0      0      0
3         1    1  35.0      1      0
4         3    0  35.0      0      0
..      ...  ...   ...    ...    ...
884       2    0  27.0      0      0
885       1    1  19.0      0      0
886       3    1  28.0      1      2
887       1    0  26.0      0      0
888       3    0  32.0      0      0

[889 rows x 5 columns]

In [4]:
data.head(5)

   Pclass  Sex   Age  SibSp  Parch
0       3    0  22.0      1      0
1       1    1  38.0      1      0
2       3    1  26.0      0      0
3       1    1  35.0      1      0
4       3    0  35.0      0      0

In [5]:
data.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
dtype: int64

In [6]:
train_input, test_input, train_target, test_target = train_test_split(data,
                                                                     target,
                                                                      test_size=0.2,
                                                                     random_state=100)

In [7]:
lr = LogisticRegression()
lr.fit(train_input, train_target)
print(lr.score(train_input, train_target))
print(lr.score(test_input, test_target))

0.7960618846694796
0.7752808988764045